.employees-grid-pane {
    -fx-hgap: 5;
    -fx-vgap: 5;
    -fx-padding: 5, 5, 5, 5;
}

.employees-button-box {
    -fx-spacing: 3;
}

.employees-button {
    -fx-min-width: 75;
}

.employees-combobox {
    -fx-max-width: 90;
}

.add-edit-window {
    -fx-padding: 5, 5, 5, 5;
    -fx-alignment: CENTER;
}

.add-edit-button-box {
    -fx-alignment: CENTER;
    -fx-spacing: 5;
}
