.workdays-date-field {
    -fx-max-width: 105;
}

.workdays-hour-field {
    -fx-max-width: 55;
}

.workdays-grid-pane {
    -fx-hgap: 5;
    -fx-vgap: 5;
    -fx-padding: 5, 5, 5, 5;
}

.workdays-year-spinner {
    -fx-max-width: 75;
}

.workdays-table-column {
    -fx-alignment: CENTER;
}

.workdays-button {
    -fx-min-width: 75;
    -fx-max-width: 75;
}