

.employee-credentials-fields {
    -fx-vgap: 5;
    -fx-hgap: 5;
    -fx-padding: 5, 5, 5, 5;
}

.add-edit-window {
    -fx-padding: 5, 5, 5, 5;
    -fx-alignment: CENTER;
}

.add-edit-button-box {
    -fx-alignment: CENTER;
    -fx-spacing: 5;
}

.add-edit-button {
    -fx-min-width: 75;
}
